/* 
 * Document       : cyberseminar_node.css
 * Created on     : Dec 3, 2010, 1:44:55 PM
 * Author         : doylejd
*/
/*
.cyberseminar-node .left-side {
  float: left;
  overflow: hidden;
  margin: 0 3% 0 0;
  width: 75%;
  word-wrap: break-word;
}

.cyberseminar-node .left-side .left-column {
  margin: 0 0 0 0;
}

.cyberseminar-node .right-side {
  float: left;
  overflow: hidden;
  margin: 0px 0px 0px 0;
  width: 22%;
  word-wrap: break-word;
}

.cyberseminar-node .right-side .right-column {
  margin: 0 0 0 0;
}
*/

