/* 
 * Document   		: home_page.css
 * Created on 		: Dec 3, 2010, 1:44:55 PM
 * Author     		: doylejd
 * Lasted Edited on : July 21, 2011 by Mal Jones
 * Description		: The layout of the Research to Reality index page theme
*/

/*.home-page .top-row {
  width: 100%;
  margin: 0px 0px 0px 0px;
  clear: both;
}
.home-page .left-side {
  float: left;
  margin: 0 3% 0 0;
  width: 31%;
}
.home-page .right-side {
  float: left;
  width: 66%;
}
.home-page .right-side .right-row {
	margin: 0 0 5% 0;
}
.home-page .right-side .middle-column {
  float: left;
  width: 47%;
  margin: 0 5% 0 0;
  padding: 0;
}
.home-page .right-side .right-column {
  margin: 0 0 0 0;
  float: left;
  width: 48%;
}*/